# Introduction to Pandas

**Pandas** is a python library that has been created by **Wes McKinney** in 2007 on top of the **Numpy** library, and had become open sourced by the end of 2009. It is widely used in data science, machine learning and data analysis tasks. The name is derived from the term **"PANel DAta"** (tabular data), an econometrics term for data sets that include observations over multiple time periods for the same individuals. ([wikipedia](https://en.wikipedia.org/wiki/Pandas_(software)))

**Pandas** works well together with other librairies such as **Matplotlib / Seaborn** and, of course, **Numpy**.

<img src="files/pandas_numpy_matplotlib_seaborn.png" width="100%" align="center">

In [ ]:
import pandas as pd # We'll use pd as the alias
import numpy as np # and np as alias for numpy

# Series

## Definition

In Pandas, the equivalent of a 1-D NumPy array is called a "Series," often referred to as a "column." This object is very similar to a NumPy array, as it is constructed directly on top of NumPy arrays. This is why they share a number of characteristics. Indeed, like a NumPy array, a Series:

- Can be empty or store **values**.
- Has a **dtype** (*data type*) - but handles cases where the data in the Series are of different types better.

However, Series differ from NumPy arrays since they have something new:

- An **index**, which associates a value, often unique, with each entry.

In [ ]:
# Creating a Series from a list:
s = pd.Series([87, 23, 12, 43, 52, 61])
s

In [ ]:
# To access an element, we can use Numpy syntax.
s[0]

In [ ]:
s[5]

## Index and Series

We can let Pandas decide, as in the previous example, or specify one using the following syntax.

In [ ]:
# Using a list for values and a list for index
s = pd.Series([87, 23, 12, 43, 52, 61], index=[100, 102, 104, 106, 108, 110])
s

In [ ]:
# or we can provide a dictionary, index is the key, value is value.
s = pd.Series({100: 87, 102: 23, 104: 12, 106: 43, 108: 52, 110: 61})
s

In [ ]:
# Accessing an element with the new index
s[100]

In [ ]:
s[110]

In [ ]:
# We can also set strings as index
# And index doesn't have to be unique.
s = pd.Series([87, 23, 12, 43, 52, 61], index=['Group 1', 'Group 2', 'Group 2', 'Group 2', 'Group 1', 'Group 3'])
s

In [ ]:
# Accessing one or several elements using the new index
s['Group 1']

In [ ]:
s['Group 2']

# DataFrame

A *DataFrame* is a two-dimensional and easily manipulable data structure used to store and manipulate data in Python through Pandas. It is a **collection of Series** (an organised set of Series).

Some key characteristics of a Pandas DataFrame:

- **Bidimensional**: A DataFrame is often compared to a spreadsheet or an SQL table because it organizes data into rows and columns.

- **Resizable**: You can add or remove rows and columns from a DataFrame.

- **Named axes**: Rows and columns have labels (names).

- **Operations**: DataFrames support a wide range of operations on data, including filtering, grouping, aggregation, pivoting, merging, joining, and much more.

- **And many more... !** : handling missing data, export in various formats...

<img src="files/series-and-dataframe.png" width="50%" align="center">

In [ ]:
s1 = pd.Series([87, 23, 12, 43, 52, 61])
s2 = pd.Series([100, 52, 35, 71, 62, 89])
s3 = pd.Series(['m', 'f', 'm', 'm', 'f', 'f'])

# There are multiple ways to create a dataframe from Series.
# Let's go with a dictionary. Keys are column names and values are... values!

df = pd.DataFrame({'age': s1, 'weight': s2, 'sex': s3})
df # In Jupyter the display of a Dataframe is different from a Series.

<img src="files/pandas_dataframe_schema.png" width="100%" align="center">

## Creating a DataFrame

Pandas can create DataFrames from many differents file formats including :

- CSV (comma separated value)
- Excel (XLS and XLSX)
- JSON (Java Script Object Notation)
- HTML (Tables)
- SQL (Databases)
- Parquet
- HDF5 (Hierarchical Data Format)
- Feather
- Stata
- SAS
- Google BigQuery
- Clipboard
- Python Dictionnaries
- URLs (HTTP, FTP, etc.)
- ... And many more

## Fake dataset

Let's create a DataFrame from a CSV file stored inside the "data" folder and named "fake.csv". We'll use this fake dataset later to demonstrate some of the Pandas functions. Let's store it in a variable named : **"fake_df"**.

**Note**: Here we're using a naming convention named **"suffix Hungarian notation"**, meaning the type of the object is included at the end of its name. And, of course, "df" is short for "DataFrame".

In [ ]:
fake_df = pd.read_csv("data/fake.csv")

fake_df

If you run the cell above, you can tell right away that "fake_df" is a **DataFrame**: columns names and indices are in bold-style. And if you mouse over the DataFrame, rows are highlighted.

# The Countries dataset

## Presentation

During this tutorial, we will use a well-known dataset that consists of a single file named "countries.csv" and contains a large number of different statistics about countries.

## Objectives

We will use this file to examine if there is a correlation between four variables: population density (expressed in km²), GDP per capita ($), and birth and death rates ; at two different levels of analysis: at the country level and at the level of the region to which each country belongs.

We will also examine whether the duration of their membership in the UN, if they are members, influences our variables to be explained.

But before reaching this result, we will need to understand and clean up this dataset.

## Reading a CSV file : "countries.csv"

**>>>** Use the ``pd.read_csv()`` function to read the CSV file named "countries.csv" which is located inside the "data" folder. Store the result in a new DataFrame named "df".

If you try to read a CSV file and Pandas returns an error, open the file with jupyter lab or a text editor (VS Code, Notepad++ etc.) and examine it to find the source of the error. The most common errors when reading a csv file are:

- The **filepath** was not properly given to the function. The easiest way is to move the file you want to read in the same directory than your notebook file (or in a subfolder named "data").

- A wrong **field separator**, by default Pandas assumes that it is the "," character. In this case specify the separator (= delimiter) with the argument "sep".

- A bad **"quotechar"**, a character used to denote the start and end of a quoted item. Quoted items can include the delimiter and it will be ignored. In this case specify it with the "quotechar" argument.

- The presence of **extra lines** at the beginning or at the end of the file. In this case use the "skiprows" or "skipfooter" arguments to ignore these lines.

- Bad file **encoding**. The "utf-8" standard is the most common, but sometimes the files are in other formats like "cp1252" for example. In this case specify the encoding with the "encoding" argument. Hint: with the "countries.csv" file, the encoding is already 'utf-8'. 

**NOTE**: Do **NOT** open the file with the sofware "Excel", it may corrupt your file and make it unreadable, even if you don't save the modifications.

In [ ]:
# Code here !

# First things to do

## The `.shape` property

We now have two DataFrames "fake_df" and "df". Let's take a look at our they're shaped.

In [ ]:
fake_df.shape

**>>>** What shape is our df? What does it mean?

In [ ]:
# Code here!

## The ``.head()`` function

It returns the first n rows, default is set to 5.

In [ ]:
fake_df.head()

**>>>** Use the ``.head()`` function to display the first 2 lines of our df.

In [ ]:
# Code here!

## The `.columns` property

It stores the names of our different columns. It is also the index of the columns.

In [ ]:
fake_df.columns

**>>>** What are the columns of our DataFrame? Use a ``for`` loop to print each column name on a different line.

In [ ]:
# Code here!

## The `.index` property

It stores the names of the rows (the index).

**>>>** What does the index of df look like?

In [ ]:
# Code here!

## The `.dtypes` property

The word `dtypes` stand for "data types", it stores the types of our different columns. The type "object" is often a string.

In [ ]:
fake_df.dtypes

**>>>** What are the dtypes of our df?

In [ ]:
# Code here!

## Missing values : the `.isna()` method

When you're given a new dataset, it is quite important to check if they are missing values. You can use the ``.isna()`` method, it returns a new DataFrame which has the same size than the original df, but the values are ``True`` if the value is missing and ``False`` if a value exists.

That's one of the main strength of python : the outputs of many Pandas functions are also Pandas objects, meaning you can work on your data or your results using the same functions.

In [ ]:
fake_df.isna()

**>>>** Use ``.isna()`` on your DataFrame.

In [ ]:
# Code here

## Apply a function to a DataFrame : ``isna().sum()``

The ``.sum()`` method performs a sum on an entire DataFrame. When performing sums, boolean values are treated as 1 if they're ``True`` and 0 if they're ``False``.

In [ ]:
fake_df.isna().sum()

**>>>** How many missing values in our DataFrame ?

In [ ]:
# Code here!

**>>>** Slice the column "Country" from your DataFrame and display the corresponding Series. **Hint**: you can use the tab key for autocompletion.

In [ ]:
# Code here!

## Creating or replacing Series

Just like a dictionnary, to create or replace a Series you just have to assign it a value  or an object (list, dict, integer, almost any objects...).

In [ ]:
fake_df['one'] = 1
fake_df

In [ ]:
fake_df['one'] = 999
fake_df

In [ ]:
fake_df[['one', 'two']] = 1
fake_df

In [ ]:
fake_df[['one', 'two']] = 1, 2 # An implicit tuple
fake_df

In [ ]:
fake_df['three'] = fake_df['one'] + fake_df['two']
fake_df

In [ ]:
fake_df['count'] = [el for el in range(fake_df.shape[0])]
fake_df

### Dropping a Series

There are several ways to "drop" (erase / remove / delete) a Series from your DataFrame, one of the easiest is just:

In [ ]:
fake_df.drop(columns='one') # This function is not "in place" which means we haven't modified "fake_df" yet.

In [ ]:
# If we're happy with the result
# We can replace the old df with the new one
fake_df = fake_df.drop(columns='one')

**/!\ WATCH OUT !** This time we're not replacing or creating a **Series** we're replacing the whole DataFrame!

One can get confused very easily. Luckily if you make a mistake, it's also very easy to go back and re-run the cells.

In [ ]:
# We can drop several columns by passing a list.
fake_df.drop(columns=['two', 'three', 'count'])

In [ ]:
# If we're happy with the result
# We can replace the old df with the new one
fake_df = fake_df.drop(columns=['two', 'three', 'count'])

# Dealing with data

## Setting the right data types

Now that we know what is a DataFrame and a Series, and before we start doing something else, it's important that our Series are converted in the right type.

In [ ]:
fake_df.dtypes

### Conversion with `.astype()`

There are many different types of dtype. Some of them use standard Python format, some are specific to Pandas and others are common to several other languages (PyArrow).

Here let's use either:

- `'string'` (which is a Pandas type)
- `'category'` (also pandas type)
- `int` (python type)
- `float` (python type)

In [ ]:
# One conversion
fake_df['letter'].astype('category')

In [ ]:
# Several conversions
fake_df[['fruit', 'letter']].astype('category')

In [ ]:
# replacing old Series with new ones
fake_df[['fruit', 'letter']] = fake_df[['fruit', 'letter']].astype('category')

## Decimal Numbers: Dot or Comma?

Some conventions use a dot to separate the decimals in a number, while others use a comma. You can specify the convention to Pandas during import by providing either ```'.'``` or ```','``` to the "decimal" parameter of the ```pd.read_csv()``` function. This allows Pandas to automatically infer the correct type based on the specified decimal separator.

**>>>** Reimport our df with the "decimal" parameter and the right argument and take a look at the dtypes. Don't forget to also give to the function the correct arguments to the parameters sep, skiprows and so on...

In [ ]:
# Code here!

## Conversion with a new import

The best practice is probably to set the datatypes when importing the data. This is specially true when we work with large databases because dtypes as `category` for example use less memory than string.

When using the function `pd.read_csv()`, we can give to the argument `dtypes` a dictionary with column names as keys and dtype as value. We can either type this dictionary or use dict comprehension to generate a template and then edit it.

- You can also use the `usecols` parameter to tell Pandas to load only certain columns. Here, load only the columns of interest which are the columns :
    - 'Country'
    - 'Region'
    - 'Population'
    - 'Area (sq. mi.)'
    - 'Pop. Density (per sq. mi.)'
    - 'GDP ($ per capita)'
    - 'Birthrate'
    - 'Deathrate'

In [ ]:
{col : 'string' for col in fake_df.columns}

In [ ]:
# copy / paste and edit:
d = {'letter': 'category',
     'fruit': 'category',
     'value': 'float32',
     'numbers_list': 'string',
     'date': 'string'}

In [ ]:
fake_df = pd.read_csv("data/fake.csv", dtype=d)
fake_df.dtypes

**Note**: If a column is not in the dictionary provided to `pd.read_csv()`, Python will try to infer the dtype.

**>>>** Set the right dtypes for df by giving to the parameter "dtype" of the function ```pd.read_csv()``` a dictionary. (And don't forget to use also the "decimal" parameter). Use the ```usecols``` parameter to select only the columns of interest.

- "Country" will be 'string'.
- "Region" will be 'category'.
- "Population" and "Area (sq. mi.)" will be 'int64' (or 'int32' if you want to save up a little bit of memory).
- Everything else is 'float32'

In [ ]:
# Code here!

## Rename the 'Area (sq. mi.)' and 'Pop. Density (per sq. mi.)' Series

There is an error in the dataset; it should actually be in km², not square miles.

**>>>** Rename the Series with the correct unit: 'Area (km²)' and 'Pop. Density (per km²)'. Use the function ```.rename()``` et pass it a dictionary as input, key being the old name and the value the new name.

In [ ]:
# Code here

## Plotting data

Let's go back to our fake_df. You can plot a Series like this:

In [ ]:
fake_df['value'].plot(); # Adding a semicolon removes useless legend
# Note that line stops as soon as it encounters a missing value (NaN)

In [ ]:
# You can specify what graph you want with the 'kind' parameter.
# Let's use a bar graph first.
# Bar graphs are usually used to plot categorical data.
# As we want to plot the value for each row of our fake_df, this would work.

fake_df['value'].plot(kind='bar');

But the xticks are the index of our DataFrame. Let's plot some values as "y" and some categorical values as "x". In order to do this, you can use ``.plot()`` directly on a DataFrame, allowing you to manipulate multiple Series easily.

In [ ]:
fake_df.plot(x='letter', y='value', kind='bar');

## The Series "Population"

**>>>** Plot both the Series 'Country' and 'Population' on the same graph. Use only the first 10 rows of the dataframe to limit the number of information. In order to do so you can slice the df : ```df[:10]```

In [ ]:
# Code here!

### Operations on numeric data

The Series **'value'** in *fake_df* and **'Population'** in *df* are both numerical data. Meaning you can apply many different statistical functions on them:

In [ ]:
fake_df['value'].mean()

In [ ]:
fake_df['value'].median()

In [ ]:
fake_df['value'].describe()

**>>>** Have a look at basics statistics on the "Population" data. You can use the function `.astype(int)` to convert the result to integers.

In [ ]:
# Code here!

## Selecting data in Pandas : ``.iloc[]`` and ``.loc[]`` methods

The `.iloc[]` and ``.loc[]`` methods in Pandas are used for indexing and selecting data in DataFrames. They serve different purposes and work based on different indexing schemes:

### The ``.iloc[]`` method (Integer Location)

``.iloc[]`` is primarily used for selecting data by integer position, which means you specify row and column positions numerically :

- It accepts integer-based indexing for both rows and columns.
- The indexing is zero-based, similar to Python lists.
- You can use integers, slices, lists, or boolean arrays to select data.

In [ ]:
fake_df.iloc[0]  # Select the first row
# Note that it returns a Series, not a DataFrame.

In [ ]:
fake_df.iloc[2:5, 1:3]
# Returns a DataFrame because they are several Series.

In [ ]:
fake_df.iloc[[0, 3, 5], [1, 2]]  # Select specific rows and columns by integer positions

In [ ]:
# Select specific rows and columns with boolean indexing
fake_df.iloc[[True, False, True, False, True, True, False, True, False, True, False], [False, True, True, False, True]]

### The ``.loc[]`` method (Label Location)

The method ``.iloc[]`` can sometimes be useful, but generally we use the ``.loc[]`` method which is very powerful. It allows us to select data by label or label-based conditions.

- It accepts label-based indexing for both rows and columns.
- Unlike most of the indexing in Python : the indexing is **inclusive on both ends** (i.e., slices include the specified labels).
- You can use labels, slices, lists, or boolean arrays to select data.
- You can filter using conditions.

In [ ]:
fake_df.loc[0:3, 'fruit']

In [ ]:
fake_df.loc[1:2, ['fruit', 'date']]

In [ ]:
# Just like .iloc[], you can filter rows and columns using boolean indexing
fake_df.loc[[True, False, True, False, True, True, False, True, False, True, False], [False, True, True, False, True]]

In [ ]:
# Pandas returns a boolean Series when you make comparison
fake_df['value'] > 500

In [ ]:
# You can use this boolean Series to filter your DataFrame using .loc[]
fake_df.loc[fake_df['value'] > 500]

## Population Filtering

**>>>** Use ```.loc[]``` and ```.plot()``` in order to:

- Display a Series with the name of the countries with a population greater than 60 million.
- Then generate a new graph with the name of the country (x) and their population (y).

In [ ]:
# Code here!

In [ ]:
# Code here!

# Using ```.loc[]``` with Multiple Conditions

It is possible filter with multiple conditions within a ```.loc[]```. In that case, we need to use the element-wise operators ```&``` and ```|``` instead of ```and``` and ```or``` to compare element by element.

In [ ]:
# yields an error !
#fake_df.loc[(fake_df['letter'] == 'D') and (fake_df['value'] > 500)]

In [ ]:
# works with the element-wise operator '&'
fake_df.loc[(fake_df['letter'] == 'D') & (fake_df['value'] > 500)]

In [ ]:
# yields an error !
#fake_df.loc[(fake_df['letter'] == 'D') or (fake_df['value'] > 500)]

In [ ]:
# works with the element-wise operator '|'
fake_df.loc[(fake_df['letter'] == 'D') | (fake_df['value'] > 500)]

***>>>*** Use a ```.loc[]``` and display the countries that a population higher than 100 millions and a GDP per capita higer than $25 000.

In [ ]:
# Code here!

### Plotting categorical data

If we try to plot a non-numeric Series, we get an error.

In [ ]:
# Yields an error!
#df['Region'].plot()

### The method ``value_counts()``

This method is very useful, it takes as input almost any Series and return a new Series which displays the number of occurrences for each elements.

In [ ]:
fake_df['letter'].value_counts()

## The Series "region"

In [ ]:
df['Region']

**>>>** Use the ``.value_counts()`` method to display the list of different regions and their respective occurrences.

**>>>** Then generate a graph indicating the frequency of each region using the ``.plot()`` method.

In [ ]:
# Code here!

In [ ]:
# Code here!

**>>>** This works, but it's not ideal. Check the [online documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html) and give better arguments to the parameters of the `.plot()` method in order to display a useful graph. You're probably going to use the parameter "kind", and maybe "rot" (rotation).

In [ ]:
# code here!

## The methods `.unique()` and `.nunique()`

- `.unique()` 

The `.unique()` method is used to return an array of all the unique values present in a Series. In other words, it removes duplicate values and provides a list of unique values.

- `.nunique()` 

The `.nunique()` method is used to count the number of distinct (unique) values in a Series.

In [ ]:
fake_df['letter'].unique()

In [ ]:
fake_df['letter'].nunique()

### How many unique values in "Region"?

**>>>** Use ```unique()``` and ```.nunique()``` to display unique values and the nmber of uniques values in "Region".

In [ ]:
# Code here!

In [ ]:
# Code here!

## String Manipulation

As you can see, the names of the regions appear to have a lot of unnecessary spaces. Pandas provides many functions for working with strings. These are found in a submodule called `.str`. For example:

In [ ]:
fake_df['letter'].str.lower()

In [ ]:
fake_df['letter'].str.replace("D", "ZZZ")

## Correcting Strings in the "Region" Series

**>>>** Remove unnecessary spaces from the region names using the ```str.strip()``` method. Once done, replace the old Series with the new one and display the last graph again.

In [ ]:
# Code here!

In [ ]:
df.columns

# Group By and Aggregations

## Group By


In data science, a "Groupby" is an operation that involves splitting a dataset into groups based on one or more criteria. It is a way to break down data into smaller, manageable pieces for analysis.

Once data are separated in different groups, we usually apply one or several functions on each different group.

## Aggregations


"Aggregations" refer to the process of applying a mathematical or statistical function to a set of data to obtain a single summary value. Aggregations typically involve operations like sum, mean, median, count, min, max, etc.

Aggregations are used to summarize and condense data, providing insights into the overall characteristics of a dataset or specific groups created using groupby.

## Exemples

Let's imagine we have a library with several books classified with their genre. We can group them and apply the function `.sum()` to check how many books we have for each different categories.

<img src="files/group_by-sum.jpg" width="90%" align="center">

But we could also apply the function `.mean()` to compute the average.

<img src="files/group_by-avg.jpg" width="100%" align="center">

[Source](https://learnsql.com/blog/group-by-in-sql-explained/)

## Performing GROUP BY on our datasets

### A simple Group By

We can create groupby objets without applying a function, and save it for later.

**Note**: We're using the parameter ```observed=True``` because our dtype is a category

In [ ]:
fake_df.groupby('letter', observed=True) # Data have been grouped by Letter

### Simple functions

#### ``.sum()``

In [ ]:
fake_df.groupby('letter', observed=True).sum('value')

#### ``.count()``

In [ ]:
fake_df.groupby('letter', observed=True).count()

#### ``.mean()``

In [ ]:
fake_df.groupby('letter', observed=True).mean('value')

### The method ``.agg()``


The ```.agg()``` method in Pandas is used to perform aggregation operations on a DataFrame or Series.

We can specify one or more aggregation functions that we want to apply to the data. These functions can be built-in functions like ```sum()```, ```mean()```, ```min()```, ```max()```, or custom functions.

It can take strings arguments, lists or even dictionaries.

#### ``.agg()`` with one function

In [ ]:
fake_df.groupby('letter', observed=True).agg('mean', numeric_only=True)

#### ``.agg()`` with several functions

Here we took only the Series "value" from the grouped data, and apply three different functions to it.

In [ ]:
fake_df.groupby('letter', observed=True)['value'].agg(['count', 'sum', 'mean'])

#### ``.agg()`` with a dict of arguments

Passing a dictionnary of arguments allows us to better control the behavior of the aggregation function.

In [ ]:
fake_df.groupby('letter', observed=True).agg({
        'value' : ['mean','median', 'max', 'min'],
        'fruit':  ['count']})

## Calculating New Statistics

**>>>** Let's examine the total population of each region. Use a groupby operation and the ```.agg()``` function with the 'sum' argument.

**Note**: You can use the ```.sort_values()``` function on a DataFrame or Series to sort the result. Read the docstring if you want to learn more!

In [ ]:
# Code here

# Join

Joins allow us to retrieve data from other sources and add them to our existing dataset.

<img src="files/left-outer-join-operation.png" width="50%" align="center">

In [ ]:
fruits_df = pd.read_csv("data/fruits_kcal.csv")

In [ ]:
fruits_df.head(2)

In [ ]:
fake_df.merge(fruits_df, left_on="fruit", right_on="name", how='left')
# alternate syntax:
#pd.merge(fake_df, fruits_df, left_on="fruit", right_on="name", how='left')

In [ ]:
# If we want to take only a specific column, and not the entire second df
fake_df.merge(fruits_df["calories (per 100g)"], left_on="fruit", right_on=fruits_df["name"], how='left')

## Adding Entry Date to the United Nations

### Creating a new DataFrame

Some countries are members of the UN, while others are not. Let's retrieve a dataset directly from Wikipedia and perform a join.

**>>>** Examine the page https://en.wikipedia.org/wiki/Member_states_of_the_United_Nations.

**>>>** Use the ```pd.read_html()``` function to load the table into a DataFrame named "un_df". Be aware that this function will return a list of DataFrames, not a single DataFrame. Perform a ```.head()``` to have a look on the data. You might need to install the "lxml" library, in that case go to your terminal and run ```pip install lxml```.

In [ ]:
# Code here

## The `.map()` method

The ``.map()`` method in Pandas is used to apply a function in a Series. The result is a new Series with transformed values based on the function.

Let's see some examples:

### Using a custom function with `.map()`

Once we've created a function, `.map()` will apply the function on each element and returns a new Series.

In [ ]:
# Let's define a function
def adds_1000(number):
    return number + 1000

In [ ]:
# Test
adds_1000(123.53)

In [ ]:
fake_df['value'].map(adds_1000)

## The function `.str.split()`

This function belongs to the submodule `.str`. It behaves almost the same way than the `.split()` function.

In [ ]:
fake_df['numbers_list'].str.split()

In [ ]:
fake_df['numbers_list'].str.split()[0][0]

In [ ]:
fake_df['numbers_list'].str.split('-')[0][0]

In [ ]:
fake_df['numbers_list'].str.split('-', expand=True)

### Cleaning "Member state" and et "Date of admission"

The columns "Member state" and "Date of admission" have some issues. Can you spot them?

**>>>** Use string manipulation to clean them. The ```.str.split()``` method in conjunction with a ```.map()``` that retrieves the first element of a list is probably one of the simplest methods. A RegEx would also work.

**Note**: Don't forget to apply this function both on the Series "Member state" and "Date of admission".

In [ ]:
# Code here

### Cleaning "Country"

**>>>** In the "Country" column, there are still country names with extra spaces. Use ```str.strip()``` to remove them.

In [ ]:
# Code here!

# Checkpoint
d = {'Country': 'string', 'Region': 'category'}
df = pd.read_csv('data/df_checkpoint_1.csv', dtype=d)
un_df = pd.read_csv('data/un_df_checkpoint_1.csv')

### Join

**>>>** Now perform the join between "df" and "un_df" to retrieve the values from the "Date of admission" column.

In [ ]:
# Code here!

### Time format

Our "df" and "fake_df" both contain dates. However if you take a look at it, they're only strings, not dates yet. Pandas can use "datetime" objects allowing us to plot and perform operations on them.

In order to do so, we can use the function ``pd.to_datetime()`` which will convert our strings to the right format. Sometimes Pandas will be able to infer automatically the date format. But in this case the strings are not standards so we need to pass a *strftime* (string format time) to the parameter "format" to tell Python what's the format date.

Each % following by a letter means Python is going to replace it with the elements it finds. The next letter that follows the "%" is code, the rest of it is just characters which will be erased when converting to the datetime format.

In [ ]:
pd.to_datetime(fake_df['date'], format='%Hh:%Mm:%Ss %d-%b-%Y')

In [ ]:
# Once we're happy with the result, let's create a new Series
# that will contain the date in the right format
fake_df['date'] = pd.to_datetime(fake_df['date'], format='%Hh:%Mm:%Ss %d-%b-%Y')

In [ ]:
# We can now perform operations on this Series
fake_df['date'].mean()

## The *Series* "Date of Admission"

**>>>** Change the type of the *Series* "Date of admission" using the `pd.to_datetime()` function.

**>>>** Next, find the minimum value, maximum value, and mean of the "Date of admission" Series that we just created.

In [ ]:
# Code here!

In [ ]:
# Display the min:
# Code here!

In [ ]:
# Display the max:
# Code here!

In [ ]:
# Display the mean:
# Code here!

## Number of Days Elapsed Since Joining the United Nations

To create a date in Pandas, you can use the `pd.to_datetime()` function and provide it with a date string. Feel free to experiment!

Some countries joined the UN a long time ago, others quite recently, and some not at all. Let's calculate the duration of their membership.

**>>>** To compute those values:

- Create a new Series named "Membership duration (days)" that will contain, for each country, the duration in the number of days between the date of their accession and January 1, 2024. You can convert a Series of type by adding ```.dt.days``` to extract the number of days.

- Then replace the missing values with 0 using the ```fillna()``` function, and finally convert everything to 'int32' using the ```astype()``` function.

In [ ]:
# Code here!

# Checkpoint
d = {'Country': 'string', 'Region': 'category'}
df = pd.read_csv('data/df_checkpoint_2.csv', dtype=d)
un_df = pd.read_csv('data/un_df_checkpoint_2.csv')

# Correlation

Pandas provides many tools for calculating statistics and correlations.

## The ```.corr()``` Method

[By default](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html), the ```.corr()``` method uses [Pearson's correlation](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient). If applied directly to the DataFrame, columns containing non-numeric data will cause the function to return an error. You can pass ```True``` to the "numeric_only" parameter to address this issue.

In [ ]:
fake_df['random_values'] = np.random.random(fake_df.shape[0]) # Let's create a Series with random values
fake_df.corr(numeric_only=True)

**>>>** Display the correlation coefficients between all our numeric columns.

In [ ]:
# Code here

## Seaborn and heatmap

To improvde the readibility of our output, let's use Seaborn - a libray built on top of matplotlib.

In [ ]:
import seaborn as sns
sns.heatmap(fake_df.corr(numeric_only=True));

In [ ]:
# let's annot the heatmap and make it range from -1 to 1.
sns.heatmap(fake_df.corr(numeric_only=True), vmin=-1, vmax=1, annot=True);

**>>>** Display the same heatmap for our df.

In [ ]:
# Code here!

# Correlation visualisations

When dealing with data, it's always a good thing to look at the data and not just numbers.

## Anscombe's quartet

Anscombe's quartet comprises four data sets that have nearly identical simple descriptive statistics, yet have very different distributions and appear very different when graphed. ([wikipedia](https://en.wikipedia.org/wiki/Anscombe%27s_quartet))

<img src="files/anscombe.png" width="70%" align="center">


| Property                                                  | Value             | Accuracy                                |
|-----------------------------------------------------------|-------------------|-----------------------------------------|
| Mean of x:                                                | 9                 | exact                                   |
| Sample variance of x:                                     | 11                | exact                                   |
| Mean of y:                                                | 7.50              | to 2 decimal places                     |
| Sample variance of y:                                     | 4.125             | ±0.003                                  |
| Correlation between x and y:                              | 0.816             | to 3 decimal places                     |
| Linear regression line:                                   | y = 3.00 + 0.500x | to 2 and 3 decimal places, respectively |
| Coefficient of determination of the linear regression: R² | 0.67              | to 2 decimal places                     |

### The `sns.pairplot()` function

This function is used to create a matrix of scatterplots, also known as a pairwise scatter plot matrix. It's a valuable tool for visualizing the relationships between multiple variables (columns or Series) in a DataFrame.

In [ ]:
sns.pairplot(fake_df, diag_kind='kde', kind='reg', plot_kws={'line_kws':{'color':'red'}});

In [ ]:
sns.lmplot(x='value',
           y='random_values',
           data=fake_df,
           fit_reg=True,
           line_kws={'color': 'red'}
          );

**>>>** Display the same outputs four our countries df. Use the Series 'Birthrate' and 'GDP ($ per capita)' as x and y for the ```sns.lmplot()```.

In [ ]:
# Code here!

In [ ]:
# Code here!

## Export

You can export your df to various format such as CSV, Excel, JSON and so on...

In [ ]:
# csv
df.to_csv('df_export.csv', index=False)

In [ ]:
#json
df.to_json('df_export.json')